@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(Root.css);

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid orange; */
  box-sizing: border-box;

  list-style-type: none;
  text-decoration: none;
}
body {
  background-color: var(--color-background);
  font-family: var(--font-family);
}

.active {
  color: var(--color-primary);
}

h1,
a,
p,
li,
i {
  color: var(--text-color);
  transition: var(--transition-colors);
  user-select: none;
}

li,
a {
  cursor: pointer;
}

a:hover,
i:hover {
  color: var(--color-primary);
}

button {
  width: 12rem;
  height: var(--button-height-lg);
  border-radius: var(--border-radius-sm);
  transition: var(--transition-shadow);
  box-shadow: var(--shadow-md);
  cursor: pointer;
  font-size: var(--font-size-sm);

  &:hover {
    box-shadow: var(--shadow-xl);
  }
}

header {
  height: var(--nav-height);
  box-shadow: var(--nav-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 2.3rem 0 2.3rem; */
  /* padding: 0 1rem; */

  nav {
    width: var(--desktop-width);
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: var(--font-size-2xl);
      font-weight: var(--font-weight-semibold);
    }

    ul {
      display: flex;
      gap: 1.66rem;
    }
  }
}
.none {
  display: none;
}

footer {
  height: var(--nav-height);
  margin: 5rem 0 0 0;
  border-top: 2px solid var(--color-primary-lighter);
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 2.3rem 0 2.3rem; */
  user-select: none;

  .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--desktop-width);
    height: var(--nav-height);

    ul {
      display: flex;
      gap: 1rem;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.3rem 0 2.3rem;

  section {
    width: var(--desktop-width);
  }
}

@media screen and (width <= 1500px) {
  header nav {
    width: var(--tablet-width);
  }

  main section {
    width: var(--tablet-width);
  }

  footer .foot {
    width: var(--tablet-width);
  }
}

@media screen and (width <= 1200px) {
  header nav {
    width: 1000px;
  }

  main section {
    width: 1000px;
  }

  footer .foot {
    width: 1000px;
  }

  main section#hero-second .cards {
    gap: 1rem;
  }

  main section#hero-second .cards-container {
    display: flex;
    width: 1000px;
  }
}

@media screen and (width <= 1000px) {
  header nav {
    width: 800px;
  }

  main section {
    width: 800px;
  }

  footer .foot {
    width: 800px;
  }

  main section#hero-landing {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  main section#hero-landing .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      text-align: center;
    }
  }

  main section#hero-second .cards-container {
    display: flex;
    width: 800px;
  }
}

@media screen and (width <= 800px) {
  header nav li {
    display: none;
  }
  header nav i {
    display: block !important;
    font-size: 1.3rem;
    cursor: pointer;
    &:hover {
      color: var(--color-primary);
    }
  }
  header {
    margin: 0 1rem;
  }

  body main section {
    padding: 0 1rem;
  }

  main section {
    width: 500px;
    padding: 1rem;
  }

  main section#hero-second .cards,
  main section#hero-second .cards-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  footer .foot {
    padding: 0 1rem;
  }
}
