main {
  margin: 4rem 0 0 0;
}

section#hero-landing {
  margin: 5rem 0 0 0;


  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.66rem;

    .card {
      border: 2px solid var(--color-primary-lighter);
      border-radius: 1rem 1rem 0.5rem 0.5rem;
      
      overflow: hidden;
      cursor: pointer;
      transition: var(--transition-shadow);
      box-shadow: var(--shadow-md);

      &:hover{
            box-shadow: var(--shadow-xl);
      }

      .image {
        background-color: var(--color-primary-lighter);
        overflow: hidden;
        width: inherit;
        height: 15rem;
        border-radius: 1rem 1rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .description {
        padding: 1rem;
        .technology {
          margin: 0.5rem 0 0.5rem 0;
        }
        .tech {
          background-color: var(--color-primary-light);
          font-size: 0.8rem;
          padding: 0.5rem;
          border-radius: var(--border-radius-xl);
        }
      }
    }
  }
}




@media screen and (width <= 1200px) {
  main section#hero-second .cards {
    gap: 1rem;
  }

  main section#hero-second .cards-container {
    display: flex;
    width: 1000px;
  }
}

@media screen and (width <= 1000px) {
  main section#hero-landing {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  main section#hero-landing .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      text-align: center;
    }
  }

  main section#hero-second .cards-container {
    display: flex;
    width: 800px;
  }
}

@media screen and (width <= 800px) {
main section#hero-landing .cards {
    display: flex;
    flex-direction: column;
}
}
