@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(Root.css);

section#hero-landing {
  height: calc(100vh - 30vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: 1px solid orange; */

  .left {
    width: calc(1500px - 800px);
    user-select: text;

    h1 {
      font-size: var(--font-size-4xl);
      font-weight: var(--font-weight-bold);
      margin: 0 0 -1rem 0;
    }
    p {
      margin: 2.66rem 0 0 0;
    }
    .buttons {
      margin: 2.66rem 0 0 0;
      user-select: none;
    }

    .buttons button:nth-child(1) {
      border: 3px solid var(--color-primary);
      background-color: var(--color-primary);
      color: var(--text-color-light);
    }
    .buttons button:nth-child(2) {
      background-color: transparent;

      border: 3px solid var(--color-primary);
    }
  }
  .right {
    /* outline: 1px solid orange; */
    height: 100%;
    display: flex;
    align-items: center;
  }
}

section#hero-second {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0rem 0 0 0; */

  h1 {
    margin: 4rem 0 0 0;
  }
  .cards {
    margin: 2rem 0 0 0;
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    user-select: none;
  }

  .card {
    border: 2px solid var(--color-primary-lighter);
    box-shadow: var(--shadow-sm);
    border-radius: var(--border-radius-md);
    padding: 1.66rem;
    transition: var(--transition-shadow);
   
    cursor: pointer;

    &:hover {
      box-shadow: var(--shadow-xl);
    }
    i {
      font-size: 1.66rem;
      color: var(--color-primary);
    }
  }

  .cards-container {
    margin: 2rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .card {
      padding: 0;
      width: 35rem;
      height: 23.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background-color: var(--color-primary-light);
      img {
        width: 100%;
       
      }
    }
  }
}
